<%= form_for(@project, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class=>"control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
  </div>
 

  <div class="control-group">
    <%= f.label :description, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_area :description, :rows=>5, :cols=>100 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :website, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :website %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :svn, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :svn %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :team, :class=>"control-label" %>
    <div class="controls">
      <%= f.collection_select :team_id, Team.all, :id, :name %>
    </div>
  </div>

  <div class="controls">
    <%= f.button :class=>"btn"%>
  </div>

<% end %>
