<p id="notice"><%= notice %></p>
  <h2>
  <%= @project.title %>
</h2>

<p><b>Team:</b> <%= @project.team.name %></p>

<p>
  <%= @project.description %>
</p>

<p>
  <b>Website:</b>
  <%= @project.website %>
</p>

<p>
  <b>Svn:</b>
  <%= @project.svn %>
</p>

<% unless @project.notes.empty? %>
  <div class="note-list list">
    <%= render @project.notes %>
  </div>
<% end %>
<div class="note-form">
<%= render "/notes/form", :note => @project.notes.build %>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
