<p id="notice"><%= notice %></p>

<h2>
  <%= @member.full_name %>
</h2>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Username:</b>
  <%= @member.username %>
</p>



<% unless @member.teams.empty? %>
	<h3>Teams</h3>
	<ul class="light-block">
		<% @member.teams.each do |team| %>
			<li><%= team.name %></li>
		<% end %>
	</ul>

<% end %>

<h3>Projects</h3>
<% unless @member.projects.empty? %>
	<ul class="light-block">
		<% @member.projects.each do |project| %>
			<li>
				<%= project.title %><br/>
				<%= link_to "View Details", "/me/project/#{project.id}" %>
			</li>
		<% end %>
	</ul>
<% else %>
<p>There are no current projects</p>
<% end %>
