<h2>Please Login</h2>

<%= form_tag process_login_path, :class=>"form-horizontal" do %>
	
	<% if flash[:message] %>
    
    <div class="alert">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<p><%= flash[:message] %></p>
	</div>


      
    <% end %>

	


	<div class="control-group">
		<%= label_tag "Username",  nil, :class=>"control-label" %>
		<div class="controls">
			<%= text_field_tag :username %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag "Password", nil, :class=>"control-label" %>
		<div class="controls">
			<%= password_field_tag :password %>
		</div>
	</div>


	<div class="controls">	
		<%= submit_tag "login", :class=>"btn btn-success" %>
	</div>

<% end %>