<script language="Javascript">
    $(document).ready(function(){
        $('button#show-no-team').click(function(){
            $('tr.team').hide();
            $('tr.no-team').show();
            })

        $('button#show-team').click(function(){
            $('tr.team').show();
            $('tr.no-team').hide();
            })

        $('button#show-all').click(function(){
            $('tr.team').show();
            $('tr.no-team').show();
            })
    })
</script>
<h1>Listing members</h1>


<div class="filter-actions">
    <button id="show-no-team" type="button"> Show Members with no team</button>
    <button id="show-team" type="button">Show Members with a team</button>
    <button id="show-all" type="button">Show All</button>
</div>

<% index = 1 %>
<table>
  <tr>
    <th>#</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Username</th>
    <th>Has Team?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr class="<% if @members.index(member).odd? %> dark <% end %> 
        <% if member.has_team%> team <% else %> no-team <% end %>
    " >
    <td><%= index %>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.email %></td>
    <td><%= member.username %></td>
    <td><%= member.has_team %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
  <% index += 1 %>
<% end %>

</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_member_path,
            :class => 'btn btn-primary' %>
