<h1>Listing members</h1>

<% index = 1 %>
<table>
  <tr>
    <th>#</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Username</th>
    <th>Has Team?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr <% if @members.index(member).odd? %> class="dark" <% end %> >
    <td><%= index %>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.email %></td>
    <td><%= member.username %></td>
    <td><%= member.has_team %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
  <% index += 1 %>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
