<p id="notice"><%= notice %></p>

<h2>
  <%= @member.full_name %>
</h2>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Username:</b>
  <%= @member.username %>
</p>

<p>
  <b>Password:</b>
  <%= @member.password %>
</p>

<h3>Teams</h3>
<%= debug @member.teams %>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
